*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

.navigate{
    padding: 1rem;
    background: #000;
    color: #fff;
}

#prev,#next{
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    padding: 8px;
    background: coral;
    outline: none;
    border-radius: 5px;
    border: none;
}

.canvas{
    margin: 0 auto;
    text-align: center;
    background: #ccc;
}

#the-canvas{
    width: 80%;
    height: 100%;

}

.error-message{
    background: orangered;
    padding: 1.3rem;
    font-size: 1.2rem;
    color: #fff;
}